<!DOCTYPE html>
<html>
    <head>
        <title>Profil</title>
        <meta charset="utf-8">
        <script src="../js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="../js/angular.min.js" type="text/javascript"></script>

        <link href="../css/site.css" rel="stylesheet" type="text/css"/>
        <script src="../js/own.js" type="text/javascript"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script>

            $(document).ready(function () {
                var menucsekk = false;

                $("#ck-button").click(function () {
                    if (menucsekk === false)
                    {

                        $("#menuItems").animate({"left": "0px"}, "slow");
                        $("#ck-button").animate({"left": "220px"}, "slow");

                        menucsekk = true;

                    } else
                    {

                        $("#menuItems").animate({"left": "-200px"}, "slow");
                        $("#ck-button").animate({"left": "20px"}, "slow");

                        menucsekk = false;
                    }

                    setTimeout(function () {
                        $(triangle1).dequeue("a");
                    }, 0);

                    setTimeout(function () {
                        $(triangle2).dequeue("a");
                    }, 0);
                });
            });
        </script>


        <link href="https://fonts.googleapis.com/css?family=Muli:300|Suez+One" rel="stylesheet">

    </head>
    <body ng-app="humbak" ng-controller="tibiatya.user.controller">

        <div id="BG">
            <div id="ck-button">   
                <div id="stuff">
                    <div id="rowone" class="row"></div>
                    <div id="rowtwo" class="row"></div>
                    <div id="rowthree" class="row"></div>
                </div>  
            </div>

            <div id="menuItems">
                <ul id="navacska">
                    <li ng-if="!user.LoggedIn"><a href="/humbak/auth/login.html" id="menu_reg">Bejelentkezés</a></li>
                    <li ng-if="!user.LoggedIn"><a href="/humbak/auth/registration.html" id="menu_reg">Regisztráció</a></li>
                    <li ng-if="user.LoggedIn"><a href="/humbak/html/reservation-form.html" id="menu_res">Foglalás</a></li>
                    <li><a href="/humbak/italok/index.html" id="ddds">Itallap</a></li>
                </ul>


            </div>


            <div id="FG">
                <div id="Title"> Profil    </div>
                <table class="Beer" align="center" ng-if="user">
                    <thead>
                        <tr><th>Adatok</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Email:</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Felhasználónév:</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Telefonszám:</td>
                            <td>{{user.telephone}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>
